<component name="ArtifactManager">
  <artifact type="war" name="spring-crm-with-security:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="crm-with-security-jdbc-encryption-authentication.war">
      <element id="artifact" artifact-name="spring-crm-with-security:war exploded" />
    </root>
  </artifact>
</component>